.App {
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-arrow {
    cursor: pointer;
    font-size: 24px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

button {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.know-button {
    background-color: var(--button-background-color);
    color: white;
}

.know-button:hover {
    background-color: var(--button-hover-background-color);
}

.dont-know-button {
    background-color: var(--button-alt-background-color);
    color: white;
}

.dont-know-button:hover {
    background-color: var(--button-alt-hover-background-color);
}

.party-popper {
    font-size: 100px;
    animation: popper-animation 1s 1;
}

@keyframes popper-animation {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.2) rotate(15deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.2) rotate(-15deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}