/* Home.css */
.Home {
  text-align: center;
  padding: 20px;
}

.title {
  font-family: "Sora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.flashcard-sets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.flashcard-set {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;

}

.flashcard-set:hover {
  transform: scale(1.05);
}

.flashcard-set h2 {
  margin: 0 0 10px;
}

.flashcard-set p {
  margin: 0;
}

.words-length {
  color: #7e7e7e;
  font-weight: bold;
  font-style: "Sora" serif;
}

.completed {
  color: #b6b6b6;
}